*.cover
*.egg
*.err
*.log
*.out
*.py,cover
*.py[cod]
*.so
*$py.class
.cache
.coverage
.eggs/
.env
.hypothesis/
.installed.cfg
.nox/
.pyc
.pytest_cache/
.Python
.ruff_cache
.tox/
.venv
.vscode
__pycache__/
build/
coverage.xml
data/
develop-eggs/
dist/
downloads/
eggs/
htmlcov/
lib/
lib64/
MANIFEST
nosetests.xml
output/
parts/
pip-wheel-metadata/
scripts/
sdist/
share/python-wheels/
var/
vectorstore/
venv/
wheels/
